@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<button id="loadCategory" class="btn btn-info" onclick="showCategories(this)">

    <i class="fa fa-spin fa-spinner hidden loader"></i>
    Show All Category

</button>
<button class="btn btn-danger" data-toggle="modal" data-target="#squarespaceModal">

    <i class="fa fa-plus"></i>
    Add New Category

</button>


