
@{
    ViewBag.Title = "Product Details";
    ViewBag.Description = "Is Snowa Digital Product.....";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@Html.Partial("_Slider", ViewData["SliderItems"])
<h2>@ViewBag.Title</h2>

